{% extends "layout.html" %}

{% block body %}
{% block content %}
<script>
    function removeFromTracked(channelId) {
        $.ajax({
            url: "{{url_for('channels_tracked')}}"+channelId,
            type:"delete",
            success:function (data) {
                if (data.ok){
                    $("#channel-"+channelId).addClass("more-opacity");
                }
            }
        });
    }
</script>
<div class="container-fluid ">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Отслеживаемые каналы</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form method="post" action="{{url_for('channels_tracked')}}">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="channel_id" name="channel_id">
                </div>
                <button class="btn btn-sm" type="submit">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <table class="table table-stripped table-hovered sortable">
            <thead>
            <tr>
                <td>idэ</td>
                <td>титле</td>
                <td>дискрипшн</td>
                <td>кнопочки</td>
            </tr>
            </thead>
            <tbody>
            {%for channel in channels%}
            <tr id='channel-{{channel["channel_id"]}}'>
                <td class="col-md-2">
                    <a href="https://www.youtube.com/channel/{{channel['channel_id']}}" target="_blank">{{channel['channel_id']}}</a>
                </td>
                <td class="col-md-1">
                    {{channel['title']}}
                </td>
                <td class="col-md-8">
                    {{channel['description']}}
                </td>

                <td class="col-md-1">
                    <button class="btn btn-sm" onclick=removeFromTracked('{{channel["channel_id"]}}');>
                        <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
    </div>
    <br>
    <hr>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Умершие</h1>
        </div>
    </div>
    {%for channel in died%}
    <div class="row">
        <div class="col-md-3">
            <a href="https://www.youtube.com/channel/{{channel['channel_id']}}" target="_blank">{{channel['channel_id']}}</a>
        </div>
        <div class="col-md-1">
            {{channel['title']}}
        </div>
        <div class="col-md-6">
            {{channel['description']}}
        </div>
        <div class="col-md-1">
            {{channel['type']}}
        </div>
        <div class="col-md-1">
            <button class="btn btn-sm" id='good-btn-{{channel["channel_id"]}}'
                    onclick=removeFromTracked('{{channel["channel_id"]}}',true);>
                <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    {%endfor%}
</div>

{% endblock %}
{% endblock %}