{% extends "layout.html" %}
{% block head %}
<link href="{{ url_for('static', filename='css/main.ab3d3fdb.css') }}" rel="stylesheet">

{% endblock %}
{% block body %}
{% block content %}


<div id="root"></div>
<script src="{{ url_for('static', filename='js/main.88236a9c.js') }}"></script>

{% endblock %}

{% endblock %}