{% extends "layout.html" %}
{% block body %}

{% block content %}

<script src="{{url_for('static', filename='js/compilations.js')}}"></script>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <br>
                <h1 class="text-center">Компиляции</h1>
                <br>
                <form method="get" action="/compilations">
                    <input type="hidden" name="page" value="{{page}}">
                    <div class="form-group">

                        <input type="text" name="query" class="form-control">

                        <input type="submit" class="form-control" value="Q">
                    </div>
                </form>

                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-4" id="error">
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <table class="table table-stripped table-hover sortable">
            <thead>
            <tr>
                <td>ид видоса</td>
                <td>время</td>
                <td>название</td>
                <td>время отправки ЧЛБ</td>
                <td>время загрузки</td>
                <td>имя файла</td>
            </tr>
            </thead>
            <tbody id="compilations">
            {%for comp in compilations%}
            <tr id="{{comp.get('compilation_id')}}">
                <td class="col-md-1">
                    <a href="/compilation/{{comp.get('compilation_id')}}">{{comp.get('compilation_id')}}</a> <br> {{
                    comp.get('video_id', "-")}}
                </td>
                <td class="col-md-2" sorttable_customkey="{{comp.get('time')}}">
                    {{comp.get('time')|tst_to_dt|safe}}
                </td>
                <td class="col-md-6" sorttable_customkey="{{comp['title']}}">
                    <h3>
                        <a href="#description-{{comp.get('compilation_id')}}" role="button" data-toggle="collapse"
                           aria-controls="description-{{comp['compilation_id']}}">{{comp['title']}}</a>

                    </h3>
                    <div class="collapse" id="description-{{comp.get('compilation_id')}}">
                        <div class="row">
                            <div class="col-md-12 well">

                                <b>{{comp['description'].replace('\n','<br>')|safe}}</b>

                            </div>

                        </div>
                        <hr>
                        {%for pleas in comp['pleases']%}
                        <div class="row">
                            <div class="col-md-2">
                                <a class="not-a" href="https://www.youtube.com/watch?v={{pleas['video_id']}}"
                                   target="_blank"><span class="label label-warning"> {{pleas['video_id']}} </span></a>
                            </div>
                            <div class="col-md-9">
                                {{pleas['annotation']}}
                            </div>
                            <div class="col-md-1">
                                <button class="btn btn-sm pleas-info-anchor" video-id="{{pleas['video_id']}}">
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="col-md-12 pleas-container" video-id="{{pleas['video_id']}}">

                            </div>
                        </div>
                        {%endfor%}

                    </div>
                </td>
                <td sorttable_customkey="{{comp.get('last_pleas_sent',{}).get('time', -1)}}">
                    {%if comp.get('last_pleas_sent',{}).get('ok') %}
                    {{comp.get('last_pleas_sent', {}).get('time')|tst_to_dt|safe}}
                    {%else%}
                    {{comp.get('last_pleas_sent',{}).get('error')}}
                    {%endif%}
                </td>
                <td sorttable_customkey="{{comp.get('uploaded',{}).get('time')}}">
                    {%if comp.get('uploaded', {}).get('ok')%}
                    <a target="_blank" href="https://www.youtube.com/watch?v={{comp.get('video_id')}}">{{comp.get('uploaded',{}).get('time')|tst_to_dt|safe}}</a>
                    {%else%}
                    {{comp.get('uploaded',{}).get('error')}}
                    {%endif%}
                </td>
                <td class="col-md-1">
                    {{ comp.get('out_fn', "-") }}
                </td>

                <td class="col-md-2">
                    <button class="btn btn-sm concatenate-compilation
                    {%if comp.get('concatenated')%}
                    btn-info
                    {%endif%}"
                            data-toggle="tooltip" data-placement="left" title="Сконкатенировать компиляцию"
                            onclick=concatenate("{{comp.get('compilation_id')}}")>
                        <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-sm upload-compilation
                    {%if comp.get('uploaded')%}
                    btn-info
                    {%endif%}"
                            data-toggle="tooltip" data-placement="left" title="Загрузить на ютуб"
                            onclick=upload("{{comp.get('compilation_id')}}")>
                        <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-sm send-last-pleas
                    {%if comp.get('last_pleas_sent')%}
                    btn-info
                    {%endif%}"
                            data-toggle="tooltip" data-placement="left" title="Отправить финальные ЧЛБ"
                            onclick=send_last_pleas("{{comp.get('compilation_id')}}")>
                        <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                    </button>


                    <div class="modal fade modal-lg" tabindex="-1" role="dialog"
                         id="modal-sniffer-dialog-{{comp.get('compilation_id')}}">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h3>
                                        <small>Отправка в сниффер</small>
                                        [{{comp.get('title')}}]
                                    </h3>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="ca-{{comp.get('compilation_id')}}">Имена каналов с которых снифать
                                            <small>или идишнеги</small>
                                        </label>
                                        <input type="text" class="channels-autocomplete form-control"
                                               id="ca-{{comp.get('compilation_id')}}" placeholder="Имя канала">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm" data-dismiss="modal"
                                            onclick=send_to_sniffer("{{comp.get('compilation_id')}}")
                                            title="Отправить в сниффер">В сниффер
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <button class="btn btn-sm
                    {%if comp.get('video_id')%}
                    btn-info
                    {%endif%}" type="button" data-toggle="modal"
                            data-target="#modal-sniffer-dialog-{{comp.get('compilation_id')}}"
                            title="Отправить в сниффер">
                        <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
                    </button>


                    <button class="btn btn-sm btn-danger" onclick=delete_compilation("{{comp.get('compilation_id')}}")>
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>


                    <div class="compilation-state" compilation-id="{{comp.get('compilation_id')}}">

                    </div>

                </td>
            </tr>
            {%endfor%}
            </tbody>
        </table>

        <nav aria-label="Page navigation">
            <ul class="pagination pagination-sm">
                {%if page != 0 %}
                <li>
                    <a href="/compilations?page={{page-1}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {%endif%}
                {%for p in range(pages) %}
                <li><a href="/compilations?page={{p}}">{{p}}</a></li>
                {%endfor%}
                {%if page < (pages - 1) %}
                <li>
                    <a href="/compilations?page={{page+1}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {%endif%}
            </ul>
        </nav>

    </div>

</div>

<script src="{{ url_for('static', filename='js/pleases.js') }}">
</script>
<script>
    $(function(){
        $('.channels-autocomplete').tokenfield({
            autocomplete: {
                source: function (request, response) {
                    $.get("/channels/autocomplete", {
                            query: request.term
                        }, function (data) {
                            response($.map(data.result, function (item) {
                                return {
                                    label: item[1],
                                    value: item[0]
                                }
                            }));
                        });
                },
                classes: {
                        "ui-autocomplete": "main-autocomplete"
                },
            },

            showAutocompleteOnFocus: true,
            delimiter: '±',
            createTokensOnBlur: true
        });
    });











</script>

{% endblock %}

{% endblock %}