{% extends "layout.html" %}
{% block body %}

{% block content %}
<script src="{{url_for('static', filename='js/compilations.js')}}"></script>

<div class="content">
    <div class="container-fluid" id="head">
        <div class="row">

            <div class="col-md-1 col-md-offset-2">
                <a type="button" href="/compilations" class="btn btn-lg">
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                </a>
            </div>
            <div class="col-md-6">
                <h1 class="text-center">

                    <small>Компиляция</small>
                    {{compilation.get('title')}}
                </h1>
                <h2>{{compilation.get('time') | tst_to_dt | safe}}</h2>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <p class="label label-default">{{compilation['state']}}</p>
                        <ul>
                            {%if 'created' in compilation %}
                            <li>
                                <p class="label label-info">created: {{compilation['created']['time'] | tst_to_dt |
                                    safe}}</p>
                            </li>
                            {%endif%}
                            {%if 'prepared' in compilation %}
                            <li>
                                <p class="label label-info">prepared: {{compilation['prepared']['time'] | tst_to_dt |
                                    safe}}</p>
                            </li>
                            {%endif%}
                            {%if 'concatenated' in compilation %}
                            <li><p class="label label-info">concatenated:
                                {{compilation['concatenated']['time'] | tst_to_dt | safe}}</p></li>
                            {%endif%}
                            {%if 'uploaded' in compilation %}
                            <li>
                                <p class="label label-success">uploaded:
                                    {{compilation['uploaded']['time'] | tst_to_dt | safe}}</p></li>
                            {%endif%}

                            {%if 'last_pleas_sent' in compilation %}
                            <li><p class="label label-success">last_pleas_sent:
                                {{compilation['last_pleas_sent']['time'] | tst_to_dt | safe}}</p></li>
                            {%endif%}
                            {%if 'error' in compilation %}
                            <li><p class="label label-danger">error: {{compilation['error']['time']
                                | tst_to_dt | safe}}</p></li>
                            {%endif%}

                        </ul>

                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-sm concatenate-compilation
                    {%if compilation.get('concatenated')%}
                    btn-info
                    {%endif%}"
                                data-toggle="tooltip" data-placement="left" title="Сконкатенировать компиляцию"
                                onclick=concatenate("{{compilation.get('compilation_id')}}")>
                            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                        </button>
                        <button class="btn btn-sm upload-compilation
                    {%if compilation.get('uploaded')%}
                    btn-info
                    {%endif%}"
                                data-toggle="tooltip" data-placement="left" title="Загрузить на ютуб"
                                onclick=upload("{{compilation.get('compilation_id')}}")>
                            <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
                        </button>
                        <button class="btn btn-sm send-last-pleas
                    {%if compilation.get('last_pleas_sent')%}
                    btn-info
                    {%endif%}"
                                data-toggle="tooltip" data-placement="left" title="Отправить финальные ЧЛБ"
                                onclick=send_last_pleas("{{compilation.get('compilation_id')}}")>
                            <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                        </button>


                        <div class="modal fade modal-lg" tabindex="-1" role="dialog"
                             id="modal-sniffer-dialog-{{compilation.get('compilation_id')}}">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                        <h3>
                                            <small>Отправка в сниффер</small>
                                            [{{compilation.get('title')}}]
                                        </h3>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="ca-{{compilation.get('compilation_id')}}">Имена каналов с
                                                которых
                                                снифать
                                                <small>или идишнеги</small>
                                            </label>
                                            <input type="text" class="channels-autocomplete form-control"
                                                   id="ca-{{compilation.get('compilation_id')}}"
                                                   placeholder="Имя канала">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-sm" data-dismiss="modal"
                                                onclick=send_to_sniffer("{{compilation.get('compilation_id')}}")
                                                title="Отправить в сниффер">В сниффер
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <button class="btn btn-sm
                    {%if compilation.get('video_id')%}
                    btn-info
                    {%endif%}" type="button" data-toggle="modal"
                                data-target="#modal-sniffer-dialog-{{compilation.get('compilation_id')}}"
                                title="Отправить в сниффер">
                            <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
                        </button>


                        <button class="btn btn-sm btn-danger"
                                onclick=delete_compilation("{{compilation.get('compilation_id')}}")>
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>


                        <div class="compilation-state" compilation-id="{{compilation.get('compilation_id')}}">

                        </div>

                    </div>
                </div>


            </div>
        </div>


        {%if 'error' in compilation %}
        <div class="row">
            <div class="col-md-6 col-md-offset-4" id="error">
                Error: {{compilation.get('error')}}
            </div>
        </div>
        {%endif%}
        {%if 'task' in compilation %}
        <div class="col-md-6 col-md-offset-4" id="task">
            <h2>Task in queue:</h2>
            <p class="label label-warning">{{compilation['task']['name']}}</p>
            Started: {{compilation['task']['at'] | tst_to_dt | safe}}
        </div>
        {%endif%}
        {%if 'task_proc' in compilation %}
        <div class="col-md-6 col-md-offset-4" id="task_proc">
            <h2>Task in processing:</h2>
            <p class="label label-info">{{compilation['task_proc']['name']}}</p>
            Started: {{compilation['task_proc']['at'] | tst_to_dt | safe}}
            {%if 'end' in compilation['task_proc']%}
            <p class="label label-success">END! at {{compilation['task_proc']['end'] | tst_to_dt | safe}} with result:
                {{compilation['task_proc']['result']}}</p>
            {%endif%}
        </div>
        {%endif%}
    </div>
    <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {{compilation['description'].replace('\n', '<br>') | safe}}
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid">
        {%for cut in compilation.get('cuts') %}
        <div class="row">
            <div class="col-md-1 col-md-offset-3">
                <small>{{cut['video_id']}}</small>
            </div>
            <div class="col-md-2"><h3>{{cut['title']}}</h3></div>
            <div class="col-md-1"><big>{{cut['from_s']}} --> {{cut['to_s']}}</big> (<b>{{cut['length_time']}}</b>)</div>
            <div class="col-md-1">{{cut['cut_filename']}}</div>
        </div>
        {%endfor%}
    </div>


</div>

<script src="https://www.youtube.com/iframe_api"></script>
{% endblock %}

{% endblock %}