{% extends "layout.html" %}

{% block body %}
{% block content %}


<div class="content">
    <br>

    <div class="container-fluid">

        <div class="row">
            <h1 class="text-center">Пидарасы</h1>
            <div class="col-md-6 col-md-offset-3">
                <form method="post" action="{{url_for('exclude_page')}}">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="video_id или channel_id" name="content">
                    </div>
                    <button class="btn btn-sm" type="submit">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1 class="text-center">Аццкие пидорасы</h1>
                <div class="form-group">
                <textarea class="form-control" rows="5"
                          id="copyrights">{%for c in copyrights%} {{c}} {%endfor%}</textarea>
                </div>
                <button class="btn btn-sm" id="refresh-copyrights" onclick="refreshCopyrights()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
                <span id="copyrights-refresh-result"></span>
                <span id="error"></span>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h2>Удаленные каналы</h2>
            </div>
        </div>
        <hr>
        <table class="table table-stripped table-hover sortable">
            <thead>
            <tr>
                <td>ид</td>
                <td>титле</td>
                <td>дескрипшн</td>
                <td>тип</td>
                <td>#</td>
            </tr>
            </thead>
            <tbody>
            {%for channel in deleted_channels%}
            <tr class="row" channel-id="{{channel['channel_id']}}">
                <td class="col-md-3">
                    <a href="https://www.youtube.com/channel/{{channel['channel_id']}}" target="_blank">{{channel['channel_id']}}</a>
                </td>
                <td class="col-md-1">
                    {{channel['title']}}
                </td>
                <td class="col-md-6">
                    {{channel['description']}}
                </td>
                <td class="col-md-1">
                    {{channel['type']}}
                </td>
                <td class="col-md-1">
                    <button class="btn btn-sm" onclick=removeFromDeleted('{{channel["channel_id"]}}'); title="Восстановить">
                        <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
        <hr>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h2>Каналы-пидоры</h2>
            </div>
        </div>
        <hr>
        {%for channel in channels%}
        <div class="row" channel-id="{{channel['channel_id']}}">
            <div class="col-md-3">
                <a href="https://www.youtube.com/channel/{{channel['channel_id']}}" target="_blank">{{channel['channel_id']}}</a>
            </div>
            <div class="col-md-1">
                {{channel['title']}}
            </div>
            <div class="col-md-6">
                {{channel['description']}}
            </div>
            <div class="col-md-1">
                {{channel['type']}}
            </div>
            <div class="col-md-1">
                <button class="btn btn-sm" onclick=removeFromDeleted('{{channel["channel_id"]}}'); title="Выкинуть из режектов">
                    <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                </button>
            </div>

        </div>
        <br>
        {%endfor%}

        <hr>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h2>Видюхи-пидоры</h2>
            </div>
        </div>
        {%for video in videos%}
        <div class="row">
            <div class="col-md-3">
                <a href="https://www.youtube.com/watch?v={{video['video_id']}}" target="_blank">{{video['video_id']}}
                    <br>
                    <img src="{{video['img']}}" width="320" height="180">
                </a>
            </div>
            <div class="col-md-2">
                {{video['channel_id']}}
            </div>
            <div class="col-md-1">
                {{video['title']}}
            </div>
            <div class="col-md-4">
                {{video['description']}}
            </div>
            <div class="col-md-1">
                {{video['type']}}
            </div>

            <div class="col-md-1">
                <!--<button class="btn btn-sm" onclick=setVideoIsGood('{{video["video_id"]}}',true);>-->
                <!--<span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>-->
                <!--</button>-->
            </div>
        </div>
        <br>
        {%endfor%}
    </div>
</div>


<script>
    function refreshCopyrights(){
        var copyrights = $('#copyrights').val();
        $.ajax({
            type: 'put',
            url: '{{url_for('exclude_page')}}',
            data: JSON.stringify({"copyrights": copyrights}),
            contentType: 'application/json',
            dataType: 'json',
            success: function(data){
                if (data.ok){
                    $('#refresh-copyrights').addClass('btn-info');
                    $('#copyrights-refresh-result').text(data.result);
                }
                if (data.error){
                    $('#error').text(data.error);
                }
            }
        });

    };

    function removeFromDeleted(channelId){
        $.ajax({
            type: 'delete',
            url: '{{url_for('exclude_page')}}',
            data: JSON.stringify({"channel_id": channelId}),
            contentType: 'application/json',
            dataType: 'json',
            success: function(data){
                if (data.ok){
                    $('.row[channel-id='+channelId+']').addClass('more-opacity');
                }
                if (data.error){
                    $('#error').text(data.error);
                }
            }
        });
    }




</script>

{% endblock %}

{% endblock %}