{% extends "layout.html" %}
{% block body %}

{% block content %}

<script>
    var players = {},
        cat_containers = {};

    $(function () {

        $('.cat_container').each(function (i, obj) {
            var cat_container = $(obj);
            cat_containers[cat_container.attr("video-id")] = $(obj).tokenfield({
                autocomplete: {
                    source: function (request, response) {
                        jQuery.get("/extractor/video_categories", {
                            query: request.term
                        }, function (data) {
                            response($.map(data.result, function (item) {
                                return {
                                    label: item,
                                    value: item
                                }
                            }));
                        })
                    }
                },
                showAutocompleteOnFocus: true,

            });
        });

    });

    function createPlayer(videoId) {
        return new YT.Player("video-placeholder-" + videoId, {
            height: 240,
            width: 480,
            videoId: videoId
        });
    }

    function onYouTubeIframeAPIReady() {
        $(".video-info").each(function (i, obj) {
            var videoId = $(obj).attr("video-id");
            players[videoId] = createPlayer(videoId);
        });
    }


    function imply_channels() {
        $.ajax({
            url: '/extractor/channels_add',
            type: 'post',
            data: JSON.stringify({"channels": $("#channels-input").val()}),
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                if (data.ok === true) {
                    location.reload();
                } else {
                    $("#channels-result").text("Хуйня какаая-то :( " + data.error);
                }
            }
        });
    }

    function set_categories(video_id) {
        $.ajax({
            url: '/extractor/set_video_categories',
            type: 'post',
            data: JSON.stringify({
                "video_id": video_id,
                "categories": cat_containers[video_id].tokenfield("getTokens")
            }),
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                if (data.ok === true) {
                    $(".cat_button[video-id=" + video_id + "]").addClass("btn-success");
                } else {
                    console.log("set category fail :(", data);
                }
            }
        });
    }

    function delete_video(video_id) {
        $.ajax({
            url: '/extractor/remove_video/' + video_id,
            success: function (data) {
                if (data.ok === true) {
                    $(".video-info[video-id=" + video_id + "]").remove();
                } else {
                    console.log("remove fail :(", data);
                }
            }
        });
    }

    function exclude_source(video_id) {
        $.ajax({
            url: '/extractor/exclude_source/' + video_id,
            success: function (data) {
                if (data.ok === true) {
                    $(".source[video-id=" + video_id + "]").addClass("more-opacity");
                } else {
                    console.log("error at exclude source", data);
                }
            }
        })
    }

    function delete_channel(channel_id) {
        result = confirm("Ну, скажи ok для канала "+channel_id+", заебал!");
        if (!result){
            return
        }
        $.ajax({
            url:'/extractor/delete_channel/'+channel_id,
            success:function (data) {
                if (data.ok){
                    $(".channel-container[channel-id='"+channel_id+"']").addClass('more-opacity');
                }
            }
        })
    }






</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <br>
            <br>
            <h2 class="text-center">Выделитель</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ">
            <div class="form-group">
                <label for="channels-input"> Id-ишники каналов через <span class="label label-info">enter</span>
                </label>
                <textarea id="channels-input" class="form-control" rows="10"></textarea>
            </div>
            <button type="submit" class="btn btn-info btn-sm" onclick="imply_channels();">Учитывать</button>
        </div>

        <div class="col-md-2 col-md-offset-1">

            <div class="collapse" id="know-channels">
                {%for channel in channels%}
                <p class="channel-container"
                   channel-id="{{channel.get('channel_id')}}">

                    <a href="{{url_for('extractor', channel_id=channel.get('channel_id'))}}"
                       title="Показать для выделения видюшки только канала {{channel.get('title')}}">
                        <b>{{channel.get("title")}}</b>
                    </a>

                    <small>
                        <a target="_blank" href="https://www.youtube.com/channel/{{channel.get('channel_id')}}"><span
                                class='glyphicon glyphicon-share-alt' data-toggle="tooltip"
                                data-placement="left"></span></a>


                        <span>|</span>
                        <button class="btn btn-xs" onclick="delete_channel(`{{channel.get('channel_id')}}`)">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </small>
                </p>
                {%endfor%}
            </div>
            <a data-toggle="collapse" href="#know-channels" aria-expanded="false" aria-controls="not-ended-comps">
                <h4 class="text-center">Знаемые каналы:</h4>
            </a>
        </div>
    </div>
</div>
<hr>
<div class="container">
    {%if not videos%}
    <div class="row error">
        <div class="col-md-12">
            <h2 class="text-center">Чета нет нихуя нормального в сиих каналах.
                <small>Попробуй понажимать еще кнопку рефреш, дабы в пакете видосов могло не оказаться тех, из которых
                    можно высосать сорцы.
                </small>
            </h2>
        </div>
    </div>
    {%endif%}
    {% for video_compile in videos %}
    <div class="row video-info" video-id="{{video_compile['video_id']}}">
        <div class="col-md-5">
            <div id="video-placeholder-{{video_compile['video_id']}}"></div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-2">
                    {%if video_compile.get('time')%}
                    {{video_compile['time']|tst_to_dt|safe}}
                    {%endif%}
                </div>
                <div class="col-md-5">
                    <h4><a href="#description-{{video_compile['video_id']}}" role="button" data-toggle="collapse"
                           aria-controls="description-{{video_compile['video_id']}}">{{video_compile['title']}}</a>
                    </h4>
                    <span class="label label-info"><small>{{video_compile['channel_title']}}</small></span>
                </div>
                <div class="col-md-5">
                    <div class="form form-inline">
                        <div class="form-group">
                            <div class="col-md-10">
                                <input type="text" class="form-control cat_container"
                                       id="categories-{{video_compile['video_id']}}"
                                       video-id="{{video_compile['video_id']}}"/>
                                <span class="text-warning category-error"
                                      video-id="{{video_compile['video_id']}}"></span>
                            </div>
                            <div class="col-md-1">
                                <button class="btn btn-sm cat_button"
                                        video-id="{{video_compile['video_id']}}"
                                        onclick=set_categories("{{video_compile['video_id']}}")>
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="collapse" id="description-{{video_compile['video_id']}}">
                    {{video_compile['description']}}
                </div>
            </div>
            <div class="row sources">
                <div class="col-md-12">
                    {%for source in video_compile['sources']%}
                    <div class="row source" video-id="{{source['video_id']}}">
                        <div class="col-md-4">
                            <a href="https://www.youtube.com/watch?v={{source['video_id']}}" target="_blank">
                                <img src="{{source['img']}}" width="180" height="100">
                            </a>
                        </div>
                        <div class="col-md-6">
                            <b>{{source['title']}}</b>
                            <span class="label label-warning">{{source['channel_title']}}</span>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-sm" onclick=exclude_source("{{source['video_id']}}")>
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>

        <div class="col-md-1">
            <button class="btn btn-sm btn-danger" onclick=delete_video("{{video_compile['video_id']}}")>
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <hr>
    {%endfor%}
    <div class="row">
        <div class="col-md-1 col-md-offset-10">
            <a href="{{url_for('extractor', next=next_batch or 0, channel_id=channel_id)}}" role="button"
               class="btn btn-default">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            </a>
        </div>
    </div>


</div>

<script src="https://www.youtube.com/iframe_api"></script>
{% endblock %}

{% endblock %}