{% extends "layout.html" %}

{% block body %}
{% block content %}

<div class="content">
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    <label for="comment-words">Слова в комментах:</label>
                    <textarea class="form-control" id="comment-words" rows="3">use compilation cred</textarea>
                </div>
                <hr>
                <button class="btn btn-lg text-center" onclick="startFindRecursive()">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                </button>
                <button class="btn btn-lg text-center" onclick="stopLoadChunks()">
                    <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
                </button>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-stripped table-hover sortable">
                    <thead>
                    <tr>
                        <td>тайтл</td>
                        <td>просмотры</td>
                        <td>видюхи</td>
                    </tr>
                    </thead>
                    <tbody id="result">

                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" id="error"></div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 loader-gif hidden">
                <img id='loader-gif' src="{{url_for('static', filename='img/giphy.gif')}}">
            </div>
        </div>
    </div>


</div>
<script>
    const channelsRows = `
<% _.each(channels, function(channel) { %>


<tr id="<%= channel.channel_id %>">
    <td><a target="_blank" href="https://www.youtube.com/channel/<%= channel.channel_id %>"><%= channel.title %></a></td>
    <td><%= channel.views %></td>
    <td><%= channel.videos %></td>
    <td>
        <button class="btn btn-sm" onclick="channelAction('<%= channel.channel_id %>', 'exclude')" data-toggle="tooltip" title="Добавить канал в эксклюдки">
            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
        </button>
        <button class="btn btn-sm" onclick="channelAction('<%= channel.channel_id %>', 'include')" data-toggle="tooltip" title="Добавить канал в выделитель">
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        </button>
    </td>
</tr>

<% }) %>
`;
    var stop = false;

    function stopLoadChunks(){
        stop = true;
    }

    function printError(data) {
        $('#error').append("<div>Error!<br>" + JSON.stringify(data) + "</div>");
    }
    function loadChannelsChunk(commentWords) {
        $.ajax({
            type:           'post',
            url:            '{{url_for("find_channels")}}',
            data:           JSON.stringify({"comment_words": commentWords}),
            contentType:    'application/json',
            dataType:       'json',

            success: function (data) {
                if (data.channels) {
                    chRowsTemplate = _.template(channelsRows);
                    $('#result').append(chRowsTemplate({channels: data.channels}));
                    if (!stop){
                        loadChannelsChunk(commentWords);
                    } else{
                        $('.loader-gif').addClass('hidden');
                    }
                } else {
                    $('.loader-gif').addClass('hidden');
                    if (data.error) {
                        printError(data);
                    }
                }
            },
            error: function (data) {
                $('.loader-gif').addClass('hidden');
                printError(data);
            }
        });
    }

    function startFindRecursive() {
        stop = false;
        $('.loader-gif').removeClass('hidden');
        var commentWords = $('#comment-words').val();
        loadChannelsChunk(commentWords);
    }

    function channelAction(channelId, actionType) {
        $.ajax({
            type: 'put',
            url: '{{url_for("find_channels")}}',
            data: JSON.stringify({"channelId": channelId, "action": actionType}),
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                if (data.action == 'include') {
                    $("#" + channelId).addClass("inverse");
                } else {
                    $("#" + channelId).addClass("more-opacity");
                }
            }
        });
    }




</script>
{% endblock %}
{% endblock %}