{% extends "layout.html" %}

{% block body %}
{% block content %}


<script src="{{url_for('static', filename='js/video_cuts.js')}}"></script>

<script>
    window.tst_to_date = function (timeStamp) {
        var date = new Date(timeStamp * 1000);

        var hours = date.getHours();
        var minutes = "0" + date.getMinutes();
        var seconds = "0" + date.getSeconds();

        var month = '0' + (date.getMonth() + 1);
        var day = '0' + date.getDate();

        var formattedTime = day.substr(-2) + '.' + month.substr(-2) + '.' + date.getFullYear();
        return formattedTime;
    }
    window.subs = function (string) {
        return string.substring(0, 10) + "...";
    };





</script>

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1 class="text-center">Поискъ
                    <small>видосовъ</small>
                </h1>
                <hr>
                <form id="video-find-form" method="post">
                    <div class="form-group text-center">
                        <label for="q">В названии с:</label>
                        <input type="text" class="form-control" name="q" id="q" value="{{q}}">
                    </div>
                    <div class="form-group text-center">
                        <label for="ex-q">Без:</label>
                        <textarea type="text" class="form-control" name="ex-q" id="ex-q" rows="2">
                    </textarea>
                    </div>
                    <div class="form-group text-center">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="not-saved-only" id="not-saved-only" value="yes">
                            Не брать уже сохраненные
                        </label>
                    </div>
                    <hr>
                    <div class="form-group form-inline text-center">
                        <div class='input-group date' id='dtpicker-before'>
                            <label for="posting-time-after">
                                Запосчено ПОСЛЕ:
                            </label>
                            <input type="text" class="form-control" id="posting-time-after" name="posting-time-after"
                                   value="{{posting_time_after}}">
                        </div>

                        <div class='input-group date' id='dtpicker-after'>
                            <label for="posting-time-before">
                                ДО:
                            </label>
                            <input type="text" class="form-control" id="posting-time-before" name="posting-time-before"
                                   value="{{posting_time_before}}">
                        </div>
                        <div class='input-group date'>
                            <label for="video-length-min">
                                Длина видоса ОТ:
                            </label>
                            <input type="number" class="form-control" id="video-length-min" name="video-length-min"
                                   value="{{video_length_min or 0}}">
                        </div>
                        <div class='input-group date'>
                            <label for="video-length-max">
                                ДО:
                            </label>
                            <input type="number" class="form-control" id="video-length-max" name="video-length-max"
                                   value="{{video_length_max or 3600}}">
                        </div>

                    </div>
                    <hr>
                    <div class="form-group text-center">

                        <label class="checkbox-inline">
                            <input type="checkbox" name="with-comment" id="with-comment" value="yes">Фильтровать
                            по комментариям <br>
                            <small>(берутся только те, в которых есть комментарии доноров и те в которых есть хотя бы один нижеуказанный шаблон)
                            </small>
                        </label>
                        <textarea class="form-control" id="comment-words" name="comment-words"
                                  rows="3">
                            use, compilation |
                            thank, use |
                            thank, submit |
                        </textarea>
                        <p><small>
                            шаблон кончается знаком " | ".
                            <br>
                            шаблон стрельнет тогда когда все слова которые в нем есть, есть и в комментарии.
                            <br>
                            если хочешь фразу то разделяй слова в ней пробелом, а запятыми окаймляй.
                            <br>
                            радуйся :)
                            </small>
                        </p>
                    </div>
                    <hr>
                    <div class="form-group text-center">
                        <button class="btn btn-sm btn-success" id="find-video" disabled>
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>

                        <button class="btn btn-sm" id="stop-find">
                            <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                        </button>

                        <button class="btn btn-sm btn-info" id="save-search">
                            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="has-error" id="error">

                    </div>
                </form>
            </div>
            <div class="col-md-2" id="search-savings">

            </div>
        </div>
    </div>
    <hr>
    <br>
    <div class="row">
        <table class="table sortable table-hover table-stripped">
            <thead>
            <tr>
                <td class="col-md-1">ид</td>
                <td>название</td>
                <td>канал</td>
                <td>просмотры</td>
                <td>лайки</td>
                <td>время создания</td>
                <td>прокоменчен</td>
                <td>#</td>
            </tr>
            </thead>
            <tbody id="find-result">
            </tbody>
        </table>

    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 loader-gif hidden">
            <img id='loader-gif' src="{{url_for('static', filename='img/giphy.gif')}}">
        </div>
    </div>

</div>


<script src="https://www.youtube.com/iframe_api"></script>
<script>
    function onYouTubeIframeAPIReady() {
        $('#find-video').prop('disabled', false);
        console.log("youtube iframe api loaded!");
    }

    const videoRowsHtml = `
    <% _.each(videos, function(video) { %>


    <tr id="<%= video.video_id %>">


        <td><img src='<%= video.img %>'>
        <span><%= video.video_id%></span>
        </td>
        <td><a target="_blank" href="https://www.youtube.com/video/<%= video.video_id %>"><%= video.title %></a></td>
        <td><a target="_blank" href="https://www.youtube.com/channel/<%= video.channel_id %>"><%= video.channel_title %></a></td>

        <td  > <%= video.yt_views %> </td>
        <td  > <%= video.yt_likes %> </td>
        <td  > <%= tst_to_date(video.time) %> </td>
        <td  >
        <% if (typeof video.additional_data !== "undefined") { %>
            <% _.each(video.additional_data.donors_in_comments, function(donor) { %>
            <span class="label label-default"><%= donor %></span>
            <%});%>
        <% } %>
        </td>
        <td>
            <%= cutModalTemplatePartial(video) %>
            <button class="btn btn-sm" onclick="setChannelExcluded('<%= video.channel_id %>', '<%= video.video_id %>')" data-toggle="tooltip" title="Добавить канал сего видева в эксклюдки">
                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
            </button>

            <%= videoManageButtonPartial(video.video_id)%>

        </td>
    </tr>
   <% }) %>

    `;


    const searchSavingHtml = `
    <a href="#" data-toggle="collapse" data-target="#search-saving-content" class="accordion-toggle"> <h4>Сохраненные поиски </h4></a>

    <div class="ssc collapse <%= collapse %>" id="search-saving-content">
    <% _.each(searches, function(search) { %>
        <div class="row">
            <div class="col-md-10 col-md-offset-1" id="<%= search.key %>">
                <div class="row">
                    <div class="col-md-8">
                        <a href='#' onclick=loadSearch("<%= search.key %>") > <%= subs(search.q) %> </a>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-sm" onclick=removeSearch("<%= search.key %>")>
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                        <div>
                        </div>
                    </div>
                </div>
                <div class="row">

                            <h6> <%= search['posting-time-after'] %> - </h6>
                            <h6> <%= search['posting-time-before'] %> </h6>
                        <hr>
                        </div>
            </div>
        </div>
    <% }) %>
    </div>
    `;
    var stop = false;

    function stopLoadChunks(e) {
        e.preventDefault();
        stop = true;
    }

    function printError(data) {
        $('#error').append("<div>Error!<br>" + JSON.stringify(data) + "</div>");
    }

    function loadVideoFound(outData) {
        $.ajax({
            type: "post",
            url: "/find_videos",
            data: JSON.stringify(outData),
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                if (data.videos) {
                    videoRowsTemplate = _.template(videoRowsHtml);
                    $('#find-result').append(videoRowsTemplate({videos: data.videos}));
                    if (!stop && outData !== undefined) {
                        loadVideoFound(outData);
                    } else {
                        $('.loader-gif').addClass('hidden');
                        stop = false;
                    }
                } else {
                    $('.loader-gif').addClass('hidden');
                    if (data.error) {
                        printError(data);
                    }
                }
            },
            error: function (data) {
                $('.loader-gif').addClass('hidden');
                printError(data);
            }
        })
    }

    function getFormData() {
        var data = $('#video-find-form').serializeArray().reduce(function (obj, item) {
            obj[item.name] = item.value;
            return obj;
        }, {});
        return data;
    }

    function findVideo(e) {
        e.preventDefault();
        $('.loader-gif').removeClass('hidden');
        loadVideoFound(getFormData());
    }

    function _setDatePicker(object, defaultValue) {
        if (object.val() == "") {
            object.val(defaultValue);
        }

        object.datetimepicker({
            format: 'YYYY-MM-DDTHH:00:00',
        });
    }

    function setChannelExcluded(channelId, videoId) {
        $.ajax({
            url: '/find_videos',
            type: 'delete',
            data: JSON.stringify({'channel_id': channelId}),
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                if (data.ok) {
                    $('#' + videoId).addClass('more-opacity');
                }
            }
        })
    }



    function initialiseSearchSavings() {
        var searches = getAllSearches(),
            videoRowsTemplate = _.template(searchSavingHtml),
            savingsContainer = $('#search-savings');

        savingsContainer.empty();
        collapse = localStorage.getItem('vc_ytv_search_collapse');
        savingsContainer.append(videoRowsTemplate({searches: searches, collapse:collapse}));

        var ssc = $('.ssc');
        ssc.on('hidden.bs.collapse', function (e) {
            localStorage.setItem('vc_ytv_search_collapse', '');
        });

        ssc.on('shown.bs.collapse', function (e) {
            localStorage.setItem('vc_ytv_search_collapse', 'in');
        });

    }

    function hashCode(str) {
        var hash = 0, i, chr;
        if (str.length === 0) return hash;
        for (i = 0; i < str.length; i++) {
            chr = str.charCodeAt(i);
            hash = ((hash << 5) - hash) + chr;
            hash |= 0; // Convert to 32bit integer
        }
        return hash;
    }

    function storeSearch(e) {
        e.preventDefault();
        data = getFormData();
        var d = new Date(),
            timeStr = d.toLocaleString();

        var key = hashCode(data['q'] + timeStr);
        data['key'] = key;

        localStorage.setItem(key, JSON.stringify(data));

        var idxRaw = localStorage.getItem('vc_ytv_search');
        if (!idxRaw) {
            idxRaw = [];
        } else {
            idxRaw = JSON.parse(idxRaw);
        }
        idxRaw.push(key);
        localStorage.setItem('vc_ytv_search', JSON.stringify(idxRaw));

        initialiseSearchSavings();
    }

    function getAllSearches() {
        var idxRaw = localStorage.getItem('vc_ytv_search'),
            idx = JSON.parse(idxRaw),
            result = [];
        if (idx) {
            idx.forEach(function (obj) {
                result.push(JSON.parse(localStorage.getItem(obj)));
            });
        }
        return result;
    }

    function loadSearch(key) {
        var data = JSON.parse(localStorage.getItem(key));
        for (key in data) {
            $('#video-find-form').find('#' + key).val(data[key]);
        }
    }

    function removeSearch(key) {
        localStorage.removeItem(key);
        var idxRaw = localStorage.getItem('vc_ytv_search'),
            idx = JSON.parse(idxRaw),
            i = idx.indexOf(parseInt(key));
        if (i > -1) {
            idx.splice(i, 1);
        }
        localStorage.setItem('vc_ytv_search', JSON.stringify(idx));
        initialiseSearchSavings();
    }

    $(function () {
        var format = "YYYY-MM-DDTHH:mm:ss",
            now = moment().format(format),
            after = moment().subtract(7, "days").format(format),
            afterInput = $('#posting-time-after'),
            beforeInput = $('#posting-time-before');

        _setDatePicker(afterInput, after);
        _setDatePicker(beforeInput, now);

        $('#find-video').click(findVideo);
        $('#save-search').click(storeSearch);
        $('#stop-find').click(stopLoadChunks);

        initialiseSearchSavings();

    });







</script>

{% endblock %}
{% endblock %}