{% extends "layout.html" %}

{% block body %}
{% block content %}


<div class="content inverse">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>Молодцы</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form method="post" action="{{url_for('good_page')}}">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="video_id или channel_id" name="entity_id">
                    </div>
                    <button class="btn btn-sm" type="submit">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h2>Каналы</h2>
            </div>
        </div>
        <hr>
        {%for channel in channels%}
        <div class="row">
            <div class="col-md-3">
                <a href="https://www.youtube.com/channel/{{channel['channel_id']}}" target="_blank">{{channel['channel_id']}}</a>
            </div>
            <div class="col-md-1">
                {{channel['title']}}
            </div>
            <div class="col-md-6">
                {{channel['description']}}
            </div>
            <div class="col-md-1">
                {{channel['type']}}
            </div>
            <div class="col-md-1">
                <button class="btn btn-sm" id='good-btn-{{channel["channel_id"]}}'
                        onclick=setVideoIsGood('{{channel["channel_id"]}}',true);>
                    <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                </button>
            </div>

        </div>
        <br>
        {%endfor%}

        <hr>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h2>Видюхи</h2>
            </div>
        </div>
        {%for video in videos%}
        <div class="row">
            <div class="col-md-3">
                <a href="https://www.youtube.com/watch?v={{video['video_id']}}" target="_blank">{{video['video_id']}}
                    <br>
                    <img src="{{video['img']}}" width="320" height="180">
                </a>
            </div>
            <div class="col-md-2">
                {{video['channel_id']}}
            </div>
            <div class="col-md-1">
                {{video['title']}}
            </div>
            <div class="col-md-4">
                {{video['description']}}
            </div>
            <div class="col-md-1">
                {{video['type']}}
            </div>

            <div class="col-md-1">
                <button class="btn btn-sm"
                        id='good-btn-{{video["video_id"]}}'
                        onclick=setVideoIsGood('{{video["video_id"]}}',true);>
                    <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                </button>
            </div>
        </div>
        <br>
        {%endfor%}
    </div>
</div>


{% endblock %}

{% endblock %}