{% extends "layout.html" %}

{% block body %}
{% block content %}
<script>
    function loadNewCore(){
        $.ajax({
            url:'/keys_core',
            type:'PATCH',
            success:function(data){
                if (data.ok){
                    location.reload();
                } else{
                    $('.result').text('error');
                }
            }
        })

    }


</script>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1 class="text-center">Ядро по которому производится поискъ</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <table class="table table-stripped table-hover sortable">
                    <thead>
                    <tr>
                        <td>слово</td>
                        <td>количество повторений</td>
                    </tr>
                    </thead>
                    <tbody>
                    {%if core%}
                    {%for core_el in core%}
                    <tr>
                        <td>{{core_el.get('key')}}</td>
                        <td>{{core_el.get('count')}}</td>
                    </tr>
                    {%endfor%}
                    {%else%}
                    <tr>Нет</tr>
                    {%endif%}
                    </tbody>
                </table>
                <hr>
                <button class="btn btn-info btn-xl" onclick="loadNewCore()">
                    Загрузить новое ядро
                </button>

            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="result"></div>
            </div>
        </div>
    </div>
</div>


{%endblock%}
{%endblock%}