<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>3030 video converter</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/jquery.json-viewer.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/jquery-ui.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-tokenfield.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-datetimepicker.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">


    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datetimepicker.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/sorttable.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/underscore-min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.json-viewer.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-tokenfield.min.js') }}"></script>
    {% block head %}
    {% endblock %}

</head>
<body data-spy="scroll" data-target="#vc-navbar">

<div class="container-fluid" id="vc-navbar">
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand big" style="color: whitesmoke" href="{{url_for('compilator')}}">Компиляторъ</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('extractor')}}"> Выделитель </a></li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            ЧЛБ <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('pleases') }}">Отправленое ЧЛБ</a></li>
                            <li><a href="{{ url_for('pleases_templates') }}">Шаблончики ЧЛБ</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ url_for('compilations')}}"> Компиляции </a></li>
                    <li><a href="{{ url_for('videos')}}"> Видюхи </a></li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            Слова да ядра <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('keys_core')}}"> Ядро </a></li>
                            <li><a href="{{ url_for('ws')}}"> Скорости слов </a></li>
                        </ul>
                    </li>
                    <!--<li><a href="{{ url_for('channels_tracked')}}"> Канальцы </a></li>-->
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            Инь Янь <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('exclude_page')}}"> Пидарасы </a></li>
                            <li><a href="{{ url_for('good_page')}}"> Молодцы </a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> <span
                                class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('find_channels')}}"> Каналы </a></li>
                            <li><a href="{{ url_for('find_videos')}}"> Видосы </a></li>
                        </ul>
                    </li>

                </ul>
                {% block nav %}
                {% endblock %}
            </div>
        </div>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <br>

    {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
    {% endfor %}

    {% block body %}
    {% endblock %}
</div>
</body>
</html>