{% extends "layout.html" %}
{% block body %}

{% block content %}
<script>
    function add_pleas() {
        var pleas_content = $('#pleas_content').val(),
            finish = document.getElementById('finish-checkbox').checked;
            addVideo = document.getElementById('add-video-checkbox').checked;

        $.ajax({
            type: 'post',
            dataType: 'json',
            url: '/pleas/template/add',
            data: JSON.stringify({"content": pleas_content, "pt_params": {"finish": finish, "add_video":addVideo}}),
            contentType: 'application/json',
            success: function (data) {
                if (data.ok) {
                    location.reload();
                } else {
                    $('#error').text(data.error);
                }
            }
        });
    }

    function remove_pleas(p_id) {
        $.ajax({
            type: 'get',
            url: '/pleas/template/remove/' + p_id,
            success: function (data) {
                if (data.result != 0) {
                    $("#" + p_id).remove();
                }
            }
        })
    }

    function test_pleas(p_id) {
        var video_id = $("#test-input-" + p_id).val();
        $.ajax({
            type: 'get',
            url: '/pleas/template/test/' + p_id + '/' + video_id,
            success: function (data) {
                if (data.ok) {
                    $('.test-result[p-id=' + p_id + ']').text(data.text);
                } else {
                    $("#error").text(data.error);
                }
            }
        });
    }


</script>


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <br><br>
                <h1 class="text-center">Шаблончики челобитных</h1>
                <div class="alert alert-success" role="alert">
                    Возможные якоря: <br>
                    <span class="label label-info">%(channel_title)s</span> для укзания имени канала которому челобитная
                    адресована<br>
                    <span class="label label-info">%(compilation_info)s</span> для указания названия и в скобочках урла твоей компиляции .
                    <!--<span class="label label-info">{my_video_title}</span> для указания названия твоей (будущей) компиляции.-->
                </div>

                <textarea class="form-control" id="pleas_content"
                          placeholder="Вводи шаблон челобитной, используй якоря, радуйся:)"
                          rows="5"></textarea>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="finish-checkbox"> Последняя ЧЛБ
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="add-video-checkbox"> ЧЛБ при добавлении видоса
                    </label>
                </div>
                <br>
                <button class="form-control btn btn-xs btn-info" id="please_add" onclick="add_pleas();">Добавить
                </button>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-4" id="error">
            </div>
        </div>
    </div>
    <div class="container-fluid" id="pleases">
        {% for please in pleases %}
        <div class="row" id="{{please.get('pt_id')}}">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <h4>{{please.get('content')}}</h4>
                    {% if please.get('finish') %}
                    <span class="label label-info">finish</span>
                    {%endif%}
                    {% if please.get('add-video') %}
                    <span class="label label-info">add-video</span>
                    {%endif%}
                </div>
                <div class="row collapse" id="test-{{please.get('pt_id')}}">
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" placeholder="video id кому будет шаблон" id="test-input-{{please.get('pt_id')}}">

                            <button class="btn btn-sm btn-info" onclick=test_pleas("{{please.get('pt_id')}}");>
                                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-9 test-result" p-id="{{please.get('pt_id')}}">

                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <button class="btn btn-danger btn-small" aria-hidden="true" onclick=remove_pleas("{{please.get('pt_id')}}");>
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>

                <button class="btn btn-info btn-small" data-toggle="collapse" data-target="#test-{{please.get('pt_id')}}"
                        aria-expanded="false" aria-controls="test-{{please.get('pt_id')}}">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                </button>
            </div>
        </div>
        <hr>
        {% endfor %}
    </div>

</div>

{% endblock %}

{% endblock %}