{% extends "layout.html" %}

{% block nav %}
<script>
    function add_video_from_please() {
        var input = $('#add-video-from-please'),
            input_category = $('#category-preload'),
            video_id = input.val(),
            categories = input_category.tokenfield("getTokens"),
            sendBtn = $('#add-video-from-please-btn');


        $.ajax({
            url: '/add_video',
            type: 'post',
            data: JSON.stringify({
                "video_id": video_id,
                "categories": categories
            }),
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                if (data.ok) {
                    input.val("");
                    input_category.val("");
                    sendBtn.removeClass("btn-warning");
                    sendBtn.addClass("btn-info");
                } else {
                    input.val("ERROR! " + data.error);
                }
            }
        })
    }


</script>

<div class="navbar-form navbar-left center">
    <div class="form-group">
        <input id="add-video-from-please" class="form-control" type="text" placeholder="Вводи ид видюшки"/>
        <input id="category-preload" class="form-control" type="text" placeholder="Вводи имя категории"/>
    </div>
    <button id='add-video-from-please-btn' class="btn btn-sm btn-warning" onclick="add_video_from_please()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
</div>

{% endblock %}
{% block body %}

{% block content %}

<script src="{{ url_for('static', filename='js/pleases.js') }}"></script>

<script>
    function set_please_state(videoId, pleasState) {
        $.ajax({
            url: '/pleas/set_please_state',
            type: "post",
            data: JSON.stringify({"video_id": videoId, "pleas_state": pleasState}),
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                if (data.ok) {
                    $(".pleas_container[video-id=" + videoId + "]").remove();
                }
            }
        });
    }

    function approve_pleas(videoId) {
        set_please_state(videoId, "approve")
    }

    function reject_pleas(videoId) {
        set_please_state(videoId, "reject")
    }

    function add_to_pleas_autocomplete(pr_id) {
        var text = $('.reply-text[pr-id="' + pr_id + '"]').text();

        $.ajax({
            url: "/please_replies/add",
            type: 'post',
            data: JSON.stringify({"pr_id": pr_id, "text": text}),
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                if (data.ok) {
                    var btn = $(".reply-add[pr-id='" + pr_id + "']");
                    btn.removeClass("btn-warning");
                    btn.addClass("btn-info");
                }
            }
        })
    }

    function resendPleas(videoId) {
        $.ajax({
            url: "/pleas/re_send/" + videoId,
            type: "get",
            success: function (data) {
                if (data.ok) {
                    $(".pleas_container[video-id=" + videoId + "]").addClass('inverse');
                } else {
                    console.log(data.error);
                }
            }
        });
    }

    function deletePleas(videoId) {
        $.ajax({
            url: "/pleas/delete/" + videoId,
            type: "get",
            success: function (data) {
                if (data.ok) {
                    $(".pleas_container[video-id=" + videoId + "]").addClass('more-opacity');
                } else {
                    console.log(data.error);
                }
            }
        });
    }
    function loadOldPleasAnswers() {
        $.ajax({
            url: "/pleases/load_old",
            type: "get",
            success: function (data) {
                if (data.ok) {
                    location.reload();
                } else {
                    console.log(data.error);
                }
            }
        });
    }
    $(function () {
        $('.pleas-autocomplete').each(function (i, obj) {
            $(obj).tokenfield({
                autocomplete: {
                    source: function (request, response) {
                        jQuery.get("/please_replies", {
                            query: request.term
                        }, function (data) {
                            response($.map(data.result, function (item) {
                                return {
                                    label: item,
                                    value: item
                                }
                            }));
                        })
                    }
                },
                showAutocompleteOnFocus: true,
                delimiter: '±',
                createTokensOnBlur: true
            });
        });

        $('#category-preload').tokenfield({
            autocomplete: {
                source: function (request, response) {
                    jQuery.get("/extractor/video_categories", {
                        query: request.term
                    }, function (data) {
                        response($.map(data.result, function (item) {
                            return {
                                label: item,
                                value: item
                            }
                        }));
                    })
                }
            },
            showAutocompleteOnFocus: true,
        });


    });


</script>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Отправленные челобитные

                {%if unread_count != 0%}
                <h2><span class="badge big">{{unread_count}}</span> непрочитанных</h2>
                {%endif%}
            </h1>
        </div>
        <div class="col-md-3">
            <button class="btn btn-sm" onclick="loadOldPleasAnswers()">Подгрузить ответы неотвеченным ЧЛБ</button>
            <br>
            <br>

            <a class="not-a" href="{{url_for('pleases')}}"><span
                    class="label label-default category">с ответами  </span> </a>
            <a class="not-a" href="{{url_for('pleases', not_replied=True)}}"><span class="label label-default category">без ответов  </span></a>
            <br>
            <br>

            <a class="not-a"
               href="{{url_for('pleases', state='reject', not_replied=True if not_replied else False)}}"><span
                    class="label label-info category">режектед </span></a>
            <a class="not-a" href="{{url_for('pleases', state='approve', not_replied=True if not_replied else False)}}"><span
                    class="label label-info category">аппрувед</span></a>

            <br>
            <br>

            <a class="not-a"
               href="{{url_for('pleases', state='add_video', not_replied=True)}}"><span
                    class="label label-warning category">добавленных видосов</span></a>
            <br>
            <br>
            <a class="not-a" href="{{url_for('pleases', state='add_video')}}"><span
                    class="label label-warning category">добавленных видосов (с ответами)</span></a>
        </div>
    </div>
</div>
<br>
<nav aria-label="Page navigation">
    <ul class="pagination">
        {%if pages_count > 1 %}
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {%endif%}
        {%for page in range(1, pages_count)%}
        <li
                {%if page == current_page%}
                class="active"
                {%endif%}
        >
            <a href="{{url_for('pleases', state=state, not_replied=True if not_replied else False, from=page * 100,to =(page+1) * 100)}}">{{page}}</a>
        </li>
        {%endfor%}
    </ul>
</nav>
<hr>
<div class="container-fluid">
    {%if pleases%}

    <table class="table table-stripped table-hover sortable">
        <thead>
        <tr>
            <td class="sorttable_nosort">video</td>
            <td class="sorttable_nosort">dialog</td>
            <td>created</td>
            <td class="sorttable_nosort">#</td>
        </tr>
        </thead>
        <tbody>


        {% for pleas in pleases %}
        <tr class="pleas_container {%if pleas.get('resended')%} inverse {%endif%}" video-id="{{pleas['video_id']}}">
            <td class="col-md-2">
                <h4><a href="https://www.youtube.com/watch?v={{pleas['video_id']}}" target="_blank">{{videos[pleas['video_id']]['title']}}</a>
                </h4>
                <span class="label label-info"><small>
                <a class='only-text' target="_blank"
                   href="https://www.youtube.com/channel/{{videos[pleas['video_id']]['channel_id']}}/about">
                    {{videos[pleas['video_id']]['channel_title']}}</a></small></span>
            </td>
            <td class="col-md-7">
                <div class="row">
                    <div class="col-md-2">
                        <b>Ты: </b>
                    </div>
                    <div class="col-md-8">
                        {{pleas.get('text')}}
                    </div>

                </div>
                <hr>
                {%for phrase in pleas.get("dialog", []) %}
                <div class="row dialog {%if phrase.get('not_read')%}not-read{%endif%}" pr-id="{{phrase.get('pr_id')}}"
                     video-id="{{pleas['video_id']}}">
                    <div class="col-md-2">
                        <a href="https://www.youtube.com/channel/{{phrase.get('owner_channel_id')}}">{{phrase.get("owner_name")}}</a>
                    </div>
                    <div class="col-md-8 reply-text" pr-id="{{phrase.get('pr_id')}}">
                        {{phrase.get("text")}}
                    </div>
                    <div class="col-md-1">
                        {{phrase.get("time") | tst_to_dt | safe}}
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-sm btn-warning reply-add" pr-id="{{phrase.get('pr_id')}}"
                                onclick=add_to_pleas_autocomplete("{{phrase.get('pr_id')}}")>
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>

                    </div>
                </div>
                <hr>
                {%endfor%}
                <div class="row">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-11">
                                <input class="form-control pleas-text pleas-autocomplete"
                                       video-id="{{pleas['video_id']}}"
                                       placeholder="Твой ответ на эту вакханалию...">
                            </div>
                            <button class="btn btn-sm btn-info" onclick=send_pleas("{{pleas['video_id']}}")>
                                <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                            </button>
                            <button class="btn btn-sm btn-success" data-toggle="collapse"
                                    data-target="#annotation-{{pleas['video_id']}}">
                                <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                            </button>
                        </div>

                        <div class="form-group collapse annotation" id="annotation-{{pleas['video_id']}}">
                            <div class="col-sm-11">
                            <textarea rows="2" class="form-control annotation" video-id="{{pleas['video_id']}}"
                                      placeholder="Напиши там че-почем..."></textarea>
                            </div>
                            <button class="btn btn-sm btn-warning annotation-btn" video-id="{{pleas['video_id']}}"
                                    onclick=send_annotation("{{pleas['video_id']}}")>
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </td>
            <td class="col-md-1">

                        {%if pleas.get('created')%}
                        {{ pleas.get('created') | tst_to_dt | safe }}
                        {%else%}
                        :(
                        {%endif%}
            </td>
            <td class="col-md-2">
                <button class="btn btn-sm btn-info" data-toggle="tooltip" data-placement="left"
                        title="ЗаААЦЦЕПТИТЬ челобитную" onclick=approve_pleas("{{pleas['video_id']}}")>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
                <button class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="right"
                        title="ЗаРЕЖЕКТИТЬ челобитную (и весь канал конечно же)"
                        onclick=reject_pleas("{{pleas['video_id']}}")>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
                <button class="btn btn-sm btn-warning" onclick="resendPleas(`{{pleas.get('video_id')}}`)"
                        data-toggle="tooltip" data-placement="left"
                        title="Отправить еще раз, с удалением существующего комментария">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                </button>

                <button class="btn btn-sm btn-danger" onclick="deletePleas(`{{pleas.get('video_id')}}`)"
                        data-toggle="tooltip" data-placement="left"
                        title="Удалить члб">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
                {% if not videos[pleas['video_id']].get('good') %}
                <button class="btn btn-sm good" id="good-btn-{{pleas.get('video_id')}}"
                        onclick="setVideoIsGood(`{{pleas.get('video_id')}}`, false)"
                        data-toggle="tooltip" data-placement="left"
                        title="Добавить в хорошие (добавляется и канал этого видео в хорошие...)">

                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                {% else %}
                <button class="btn btn-sm btn-info good" id="good-btn-{{pleas.get('video_id')}}"
                        onclick="setVideoIsGood(`{{pleas.get('video_id')}}`, true)"
                        data-toggle="tooltip" data-placement="left"
                        title="Убрать из хороших (канал из хороших не убирается)"
                >
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                {% endif %}


            </td>
        </tr>
        {%endfor%}
        </tbody>
    </table>

    {%else%}
    < class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1>Нет нихуя :(</h1>
    </div>
    {%endif%}


</div>
<script>
    $('.not-read').on('click', function () {
        var container = $(this),
            prId = container.attr('pr-id'),
            videoId = container.attr('video-id');
        $.ajax({
            url: '/pleas/set_read/' + videoId + '/' + prId,
            success: function (data) {
                if (data.ok) {
                    container.removeClass('not-read')
                }
            }
        })
    })


</script>
{% endblock %}

{% endblock %}