<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>!</title>
</head>
<body>
    Already exist: {{code}} for {{app_id}}
    Create new:
    <a href='https://www.facebook.com/v2.10/dialog/oauth?client_id={{app_id}}&redirect_uri={{redirect_uri}}&response_type=code%20token&scope'>
    here...
    </a>
</body>
</html>