{% extends "layout.html" %}

{% block body %}
{% block content %}

<script>
    /**
     * Overwrites obj1's values with obj2's and adds obj2's if non existent in obj1
     * @param obj1
     * @param obj2
     * @returns obj3 a new object based on obj1 and obj2
     */
    function merge_options(obj1, obj2) {
        var obj3 = {};
        for (var attrname in obj1) {
            obj3[attrname] = obj1[attrname];
        }
        for (var attrname in obj2) {
            obj3[attrname] = obj2[attrname];
        }
        return obj3;
    }

    function update_videos(action, options) {
        var videoIds = [],
            checkedVideos = $('.video-checkbox:checked');

        checkedVideos.each(function () {
            videoIds.push($(this).attr('video-id'));
        });

        console.log("choose: ", videoIds);
        $.ajax({
            url: '/videos/update',
            type: 'post',
            data: JSON.stringify(merge_options({"video_ids": videoIds, "action": action}, options)),
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                if (data.ok) {
                    checkedVideos.parents('tr').remove();
                } else {
                    $('#error').text(data.error);
                }
            }
        })
    }

    function move_to_compilator() {
        update_videos('move_to_compilator', {});
    }

    function delete_videos() {
        update_videos('delete', {});
    }

    function change_categories() {
        update_videos('change_category', {"new_categories": $('#categories-change-input').tokenfield('getTokens')});
    }

    function moveFromCompilator() {
        update_videos('move_from_compilator', {});
        $('#video-list-modal').modal('hide');

    }

</script>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1 class="text-center">Видюхи
                    {%if in_compilator%}
                    <small> в компиляторе</small>
                    {%else%}
                    НЕ
                    <small> в компиляторе</small>
                    {%endif%}
                </h1>
            </div>

        </div>
        <hr>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <h3>В компиляторе?</h3>
                <a class="not-a" href="{{url_for('videos')}}"><span class="label label-warning category">нет</span> </a>
                <a class="not-a" href="{{url_for('videos', in_compilator=True)}}"><span
                        class="label label-danger category">да</span></a>
                <br>
                <br>
                <h3>Категория?</h3>
                {%for cat in categories%}
                <a class="not-a"
                   href="{{url_for('videos', category=cat, in_compilator=True if in_compilator else False)}}">
                    <span class="label label-success category"> {{cat}}</span>
                </a>
                {%endfor%}
                <br>
                <br>
                <h5>Похуй...</h5>
                <form method="get" action="{{url_for('videos')}}">
                    <input type="text" name="id" placeholder="VIDEO_ID лишь только.">
                    <button class="btn btn-sm" type="submit">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </form>

            </div>
        </div>
        <hr>
        <br>
        {%if videos %}

        <div class="row">
            <table class="table table-stripped table-hover sortable">
                <thead>
                <tr>
                    <td>ид</td>
                    <td>тайтл</td>
                    <td>наши компиляции</td>
                    <td>категории</td>
                    <td>просмотры</td>
                    <td>лайки</td>
                    <td>дислайки</td>
                    <td>фаворитс</td>
                    <td><input type="checkbox" id="all-check"></td>
                </tr>
                </thead>
                <tbody>
                {%for video in videos%}
                <tr>
                    <td class="col-md-1"><a href="https://www.youtube.com/watch?v={{video['video_id']}}"
                                            target="_blank">{{video['video_id']}}</a></td>
                    <td class="col-md-6">
                        <a class="not-a" data-toggle="collapse"
                           href="#info-{{video['video_id']}}" aria-expanded="false" aria-controls="collapseExample">
                            {{video['title']}}</a>
                        <div class="collapse" id="info-{{video['video_id']}}">

                            <table class="table table-stripped table-hover sortable">
                                <thead>
                                <tr>
                                    <td>key</td>
                                    <td>value</td>
                                </tr>
                                </thead>
                                <tbody>

                                {%for k,v in video.items()%}
                                <tr>
                                    <td>
                                        <h5>{{k}}</h5>
                                    </td>
                                    <td>
                                        <h5>
                                            <small>{{v}}</small>
                                        </h5>
                                    </td>
                                </tr>
                                {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td>
                        {%for c_name in video['compilation_names'] %}
                        <span class="label label-info">{{c_name}}</span>
                        {%endfor%}
                    </td>
                    <td>
                        {%for cat in video['categories']%}
                        <a class="not-a"
                           href="{{url_for('videos', category=cat, in_compilator=True if in_compilator else False)}}">
                            <span class="label label-success">{{cat}}</span></a>
                        {%endfor%}
                    </td>
                    <td>{{video.get('yt_views', 0)}}</td>
                    <td>{{video.get('yt_likes',0)}}</td>
                    <td>{{video.get('yt_dislikes',0)}}</td>
                    <td>{{video.get('yt_favorites',0)}}</td>
                    <td>
                        <input type="checkbox" class="video-checkbox" video-id="{{video['video_id']}}">
                    </td>
                </tr>
                {%endfor%}
                </tbody>
            </table>
        </div>
        <br>
        <hr>
        <br>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group collapse" id="categories-change">
                    <div class="form-group">
                        <label for="categories-change-input">
                            Вводи новые категории, старые затрутся-с
                        </label>
                        <input id="categories-change-input" type="text" class="form-control" placeholder="категории">
                    </div>
                    <button class="btn btn-sm" onclick=change_categories()>
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </button>
                </div>
                <div id="error">
                </div>
            </div>
            <div class="col-md-4">
                {%if not in_compilator%}
                <button class="btn btn-sm btn-info" onclick=move_to_compilator()>
                    Засунуть в компилятор
                </button>
                {%else%}
                 <button class="btn btn-sm btn-info" onclick="prepareVideoList()">
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                </button>
                {% endif %}

                <button class="btn btn-sm btn-success" data-toggle="collapse" data-target="#categories-change">
                    Сменить категории
                </button>

                <!--<button class="btn btn-sm btn-info" onclick=set_good()>-->
                <!--<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>-->
                <!--</button>-->


                <button class="btn btn-sm btn-danger" onclick=delete_videos()>
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>


            </div>
        </div>
        <br>
        {%else%}
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h2>Нет нихуя :( </h2>
            </div>

        </div>
        {%endif%}
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="video-list-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                ctrl+c ... ctrl+v
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3" id="video-list">

                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-sm" onclick="moveFromCompilator();"> Взять сии видосы</button>
            </div>
        </div>
    </div>
</div>

<script>


    function SelectText(element) {
        var doc = document
            , text = doc.getElementById(element)
            , range, selection
        ;
        if (doc.body.createTextRange) {
            range = document.body.createTextRange();
            range.moveToElementText(text);
            range.select();
        } else if (window.getSelection) {
            selection = window.getSelection();
            range = document.createRange();
            range.selectNodeContents(text);
            selection.removeAllRanges();
            selection.addRange(range);
        }
    }


    $(function () {
        $('.video-checkbox').change(function () {
            var tr = $(this).parents('tr');
            if (this.checked) {
                tr.addClass("used");
            } else {
                tr.removeClass("used");
            }

        });

        $('#all-check').change(function(){
            var checkBoxes = $('.video-checkbox');
                tr = checkBoxes.parents('tr');

            if (this.checked) {
                checkBoxes.prop('checked', true);
                tr.addClass('used');
            } else {
                checkBoxes.removeAttr('checked');
                tr.removeClass("used");
            }
        });

        $("#categories-change-input").tokenfield({
            autocomplete: {
                source: function (request, response) {
                    jQuery.get("/extractor/video_categories", {
                        query: request.term
                    }, function (data) {
                        response($.map(data.result, function (item) {
                            return {
                                label: item,
                                value: item
                            }
                        }));
                    })
                }
            },
            showAutocompleteOnFocus: true,
        });

        $('#video-list-modal').on('shown.bs.modal', function(){
            SelectText('video-list');
        });

    });

    function prepareVideoList(){
        var videoList = $('#video-list');
        videoList.empty();

        $('.video-checkbox:checked').each(function(i, obj){
            var videoId = $(obj).attr('video-id');
            videoList.append("<div class='row video-list-item' video-id='"+videoId+"'> https://www.youtube.com/watch?v="+videoId+"</div>");
        });

        $('#video-list-modal').modal('show');
    }



</script>
{%endblock%}
{%endblock%}