{% extends "layout.html" %}

{% block body %}
{% block content %}
<script>
    function startCalc(){
        var paramObj = {};
        $.each($('#configuration').children('input'), function(_, kv) {
          paramObj[kv.name] = kv.value;
        });

        $.ajax({
            url:'/ws',
            type:'POST',
            data: JSON.stringify(paramObj),
            contentType: 'application/json',
            success:function(data){
                if (data.ok){
                    $('#state').text(data.state);
                } else{
                    $('.result').text('error');
                }
            }
        })

    }










</script>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1 class="text-center">Скорости словъ
                    <small>состояние: <span id="state">{{state}}</span></small>
                </h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <table class="table table-stripped table-hover sortable">
                    <thead>
                    <tr>
                        <td>слово</td>
                        <td>позиция</td>
                        <td>скорость</td>
                        <td>позиция</td>
                        <td>скорость</td>
                        <td>позиция</td>
                        <td>скорость</td>

                    </tr>

                    </thead>
                    <tbody>
                    {%if words%}
                    {%for word in words%}
                    <tr>
                        <td>{{word.get('word')}}</td>
                        {%for position, pos_data in word.get('positions', {}).items()%}
                        <td>{{position}}</td>
                        <td>{{pos_data.get('speed')}}</td>
                        {%endfor%}
                    </tr>
                    {%endfor%}
                    {%else%}
                    <tr>Нет</tr>
                    {%endif%}
                    </tbody>
                </table>
                <hr>
                <button class="btn btn-info btn-xl" data-toggle="modal" data-target="#start-calculation-info">
                    Запустить рассчет
                </button>

            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="result"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="start-calculation-info">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                Параметры поиска
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3" id="configuration">
                        <label for="keys_prepared_ttl">Время хранения ядра, после которого будет перезасос ядра
                            (сек)</label>
                        <input class="form-control" type='text'
                               placeholder="Время хранения ядра, после которого будет перезасос ядра (сек)"
                               id='keys_prepared_ttl' name='keys_prepared_ttl' value="604800">
                        <label for="keys_shift_left">Смещение списка ядра слева</label>
                        <input class="form-control" type='text' placeholder="Смещение списка ядра сверху"
                               id='keys_shift_left' name='keys_shift_left' value="0">
                        <label for="keys_shift_right">Смещение списка ядра справа</label>
                        <input class="form-control" type='text' placeholder="Смещение списка ядра снизу"
                               id='keys_shift_right' name='keys_shift_right' value="20">
                        <hr>
                        <label for="search_key_delimeter">Разделитель между словами в N-грамме</label>
                        <input class="form-control" type='text' placeholder="Разделитель между словами в N-грамме"
                               id='search_key_delimeter' name='search_key_delimeter' value="#">
                        <label for="gramm_size">Величина N-граммы</label>
                        <input class="form-control" type='text' placeholder="Величина N-граммы"
                               id='gramm_size' name='gramm_size' value="3">
                        <hr>
                        <label for="video_max_age">Старость видоса, больше которого забиваем (сек)</label>
                        <input class="form-control" type='text'
                               placeholder="Старость видоса, больше которого забиваем (сек)"
                               id='video_max_age' name='video_max_age' value="25920000">
                        <label for="video_min_views">Минимальное количество просмотров у видоса</label>
                        <input class="form-control" type='text' placeholder="Минимальное количество просмотров у видоса"
                               id='video_min_views' name='video_min_views' value="10000">
                        <hr>
                        <label for="channel_min_videos_count">Минимальное количество видосов в канале</label>
                        <input class="form-control" type='text' placeholder="Минимальное количество видосов в канале"
                               id='channel_min_videos_count' name='channel_min_videos_count' value="10">
                        <label for="channel_min_views">Минимальное количество просмотров на канал</label>
                        <input class="form-control" type='text' placeholder="Минимальное количество просмотров на канал"
                               id='channel_min_views' name='channel_min_views' value="2000000">
                        <label for="channels_count_per_gramm">Максимальное колиечство каналов на поисковую
                            N-грамму</label>
                        <input class="form-control" type='text'
                               placeholder="Максимальное колиечство каналов на поисковую N-грамму"
                               id='channels_count_per_gramm' name='channels_count_per_gramm' value="100">

                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-sm" onclick="startCalc();">Запустить рассчет</button>
            </div>
        </div>
    </div>
</div>

{%endblock%}
{%endblock%}