/*
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25B4\25BE"
}
*/
/* Sortable tables */

body{
    background-color: #0c0c1f;
    color: #6977b2;

}
.more-opacity{
    opacity:0.4;
}

#loader-gif{
    height: auto;
    width: 100%;
}

#start-process-btn{
    display: none;
}

.only-text{
    text-decoration: none;
    color: #272822;
}

.used{
    background-color: #275679 !important;
    color: #1c1c1c !important;
}

.compilation-info{
    background-color: #3d637a;
}

.big {
    font-size: 200% !important;
}

.time-cut-info{
    font-size: 85%;
    font-weight: 900;
    color: #7f6d6d;
}

.position-move {
    cursor: move;
    cursor: -webkit-grabbing;
}

.main-autocomplete{
    z-index: 9999; !important;
    cursor: move;
    cursor: -webkit-grabbing;
    background-color: #0b341a;
    color: #6977b2;
}
#error{
    color: red;
}

.smoked{
    background-color: #172d55;
    opacity:0.5;
}

.not-a{
    text-decoration: none;
}
.not-a:hover{
    text-decoration: none;
}

.category{
    padding: 5px;
    margin: 5px;
    font-size: 100%; !important;
}

.not-read{
    background-color: #06061a;
}


.inverse{
    background-color: #292722;
    color: #360015;
}

tr:hover{
    background-color: #2b1317 !important;
    color: #869ca2 !important;
}

.video-modal{
    margin: 100px auto !important;
    width: 756px !important;
    background-color: #353535 !important;
}

.video-source-info{
    background-color: #161616;
    color: #869ca2;
}

a{
    color: #555b7f;
}

.channel-container{
    background-color: rgba(26, 8, 20, 0.89);
    color: #3b50a2;
    
}

button{
    background-color: #555b7f !important;
    color: #c1ad61;
}